[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "/var/log/freeride/sasl.log"}},
        {errlog_type, error}
    ]},
    {cowboot, [
        {dispatch, [
            {'_', [
                {"/[...]", cowboy_static, [
                    {directory, <<"/srv/repo">>},
                    {mimetypes, [
                        {<<".ez">>, [<<"application/x-erlang-application-archive">>]}
                    ]}
                ]}
            ]}
        ]},
        {listeners, [
            {http, 100, [{port, 8080}]}
        ]}
    ]}
].
